<style type="text/css">
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*スマホ*/
@media all and (max-width: 480px) { 
.salescheck {
  font-weight: bold;
  color: #ff0000;
  padding: 1em 1em;
}
}

/*タブレット縦*/
@media all and (min-width: 768px) and (max-width: 1024px) {

.salescheck {
  font-weight: bold;
  color: #ff0000;
  padding: 1em 5em;
}
}
/*PC*/
@media all and (min-width: 1024px) { 
.salescheck {
  font-weight: bold;
  color: #ff5500;
  padding: 1em 5em;
}
}


/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
 
</style>

<!-- Contact -->
<section id="contact" class="page-section" id="{{ site.data.sitetext.contact.section | default: " contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.contact.title | markdownify | default: Contact
          Us }}</h2><br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form action="https://getform.io/f/482945ab-79b5-49fe-a0a6-05bf9701b638"
          novalidate="novalidate" method="POST" id="rc_form">
          <!--name="sentMessage"-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input name="name" class="form-control" id="name" type="text" placeholder="お名前" required="required"
                  data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="email" class="form-control" id="email" type="email" placeholder="メールアドレス"
                  required="required" data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input name="phone" class="form-control" id="phone" type="tel" placeholder="電話番号" required="required"
                  data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select id="contactType" style="-webkit-appearance: none;font-size:inherit;padding: 20px;" class="form-control" name="contactType" size="1">
                  {% for type in site.contactType %}
                    <option value="{{ type.name }}">{{ type.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" id="message" placeholder="お問い合わせ本文" required="required"
                  data-validation-required-message="Please enter a message." style="height: 155px;"></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div class="form-group">
        <div class="salescheck">
          ※営業・PRメールは受け付けておりません。なお、ご返信は控えさせて頂いております。<br>
          ※悪質ないたずら・執拗な営業・PRメールなどの迷惑行為は警察・消費者庁などに通報致します。
        </div>
                <input type="checkbox" id="salescheck" name="salescheck"><label for="salescheck" style="font-weight: bold;color: #fff;margin: 1em;" required="required">いたずら・営業メールではございません。</label>
              </div>
              <button id="sendMessageButton" class="special" type="submit">問い合わせする</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->
<script src="https://www.google.com/recaptcha/api.js?render=6LeEBeAaAAAAACZsequqxHYV4DRf47LB4LEvPiuA"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- jQuery の読み込み -->  
<script>
jQuery(function($){
  //フォーム要素に submit イベントを設定
  $('#rc_form').submit(function(event) {
    if ( $("#salescheck").prop("checked") == false ) {
      return false;
    }
    //デフォルトの動作（送信）を停止
    event.preventDefault();
    //トークンを取得
    grecaptcha.ready(function() {
      grecaptcha.execute('6LeEBeAaAAAAACZsequqxHYV4DRf47LB4LEvPiuA', {action: 'submit'}).then(function(token) {
        //input 要素を生成して値にトークンを設定
        $('#rc_form').prepend('<input type="hidden" name="g-recaptcha-response" value="' + token + '">');
        //input 要素を生成して値にアクション名を設定
        $('#rc_form').prepend('<input type="hidden" name="action" value="submit">');
        //unbind で一度 submit のイベントハンドラを削除してから submit() を実行
        $('#rc_form').unbind('submit').submit();
      });;
    });
  });
})
</script>