<!-- One -->
<section id="withdoInfomation" class="information userselect_none">
  <div style="background-color:#111111;opacity:0.85;width: 100%;height: 100%;">
    <div class="inner2">
      　<header class="major">
        <h2>Information</h2>
      </header>
    </div>
    <div class="inner3">
      <div class="information-Container">
        <div class="information-box showdrawer text_button"
          onclick="javascript:setParam('{{ site.information[0].title }}','{{ site.information[0].content }}','');">
          <img src="/assets/images/icon_checksheet.png">
          <div class="information-text">
            契約までの流れ
          </div>
        </div>
        <div class="information-box showdrawer text_button"
          onclick="javascript:setParam('{{ site.information[1].title }}','{{ site.information[1].content }}','');">
          <img src="/assets/images/icon_dollar.png">
          <div class="information-text">
            契約期間と<br>支払い方法
          </div>
        </div>
        <div class="information-box showdrawer text_button"
          onclick="javascript:setParam('{{ site.information[2].title }}','{{ site.information[2].content }}','');">
          <img src="/assets/images/icon_croud.png">
          <div class="information-text">
            更新・解約<br>について
          </div>
        </div>
        <div class="information-box showdrawer text_button"
          onclick="javascript:setParam('{{ site.information[3].title }}','{{ site.information[3].content }}','');">
          <img src="/assets/images/icon_message.png">
          <div class="information-text">
            使用する<br>チャットサービス
          </div>
        </div>
        <div class="information-box showdrawer text_button" onclick="location.href='/privacy.html'">
          <img src="/assets/images/icon_sign.png">
          <div class="information-text">
            利用規約<br>プライバシーポリシー
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- One end -->