
<!-- One -->
<section class="information">
  <div style="background-color:#111111;opacity:0.85;width: 100%;height: 100%;">
      <div class="inner2">
          　　<header class="major">
              <h2>Information</h2>
          </header>
          <div class="information-Container">
            <div class="information-box showdrawer text_button" onclick="javascript:setParam('{{ site.information[0].title }}','{{ site.information[0].content }}','');">
              <img src="/assets/images/icon_checksheet.png">
              <div class="information-text">
                契約までの流れ
              </div>
            </div>
            <div class="information-box-sp">&nbsp;</div>
            <div class="information-box showdrawer text_button" onclick="javascript:setParam('{{ site.information[1].title }}','{{ site.information[1].content }}','');">
              <img src="/assets/images/icon_croud.png">
              <div class="information-text">
                更新・解約について
            </div>
          </div>
            <div class="information-box-sp">&nbsp;</div>
          <div class="information-box showdrawer text_button" onclick="javascript:setParam('{{ site.information[2].title }}','{{ site.information[2].content }}','');">
            <img src="/assets/images/icon_message.png">
              <div class="information-text">
                  使用する<br>チャットサービス
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- One end -->

