        {% case cource.table_include %}
            {% when 'table_develop' %}
                {% assign link = 'developer' %}
            {% when 'table_develop_min' %}
                {% assign link = 'developermin' %}
            {% when 'table_adjust' %}
                {% assign link = 'adjust' %}
            {% when 'table_mentor' %}
                {% assign link = 'mentor' %}
        {% else %}
        {% endcase %}

        <section id="{{link}}" style="background-image: url(..{{cource.image}})">
            <div class="planbanner {{cource.header_class}}">
            <div class="inner" style="padding: 0 2em;">
                <header class="major">

                    <h1>{{ cource.name }}</h1>

                </header>
                <div class="content" style="color: #fff;">

                    {{ cource.description }}

                </div>
                <br>
            </div>
                <div class="wrap" style="color: #fff;padding-bottom: 20px; ">
                    {% case cource.table_include %}
                        {% when 'table_develop' %}
                            {% include table_develop.html %}
                        {% when 'table_develop_min' %}
                            {% include table_develop_min.html %}
                        {% when 'table_adjust' %}
                            {% include table_adjust.html %}
                        {% when 'table_mentor' %}
                            {% include table_mentor.html %}
                    {% else %}
                    {% endcase %}
                </div>
            </div>
        </section>
