        {% case cource.table_include %}
            {% when 'table_develop' %}
                {% assign link = 'developer' %}
            {% when 'table_develop_min' %}
                {% assign link = 'developermin' %}
            {% when 'table_adjust' %}
                {% assign link = 'adjust' %}
            {% when 'table_mentor' %}
                {% assign link = 'mentor' %}
        {% else %}
        {% endcase %}

        <section id="{{link}}" style="background-image: url(..{{cource.image}});background-size: cover;">
            <div class="planbanner {{cource.header_class}}">
            <div class="inner" style="padding: 0 2em;">
                <header class="major">

                    <h1>{{ cource.name }}</h1>

                </header>
                <div class="content" style="color: #fff;">

                    {{ cource.description }}

                <div style="font-weight: bold;font-size: 1.2em;margin-top: 1em; ">

                    <p>{{ cource.price }}</p>
                    {% if cource.table_include != 'table_mentor' %}
                    <p class="{{cource.color}}" style="background-color: #fff;">{{ cource.man-days }}</p>
                    {% endif %}
                </div>
                    {% case cource.table_include %}
                        {% when 'table_develop' %}
                            {% assign plan = site.plan[0] %}
                        {% when 'table_develop_min' %}
                            {% assign plan = site.plan[1] %}
                        {% when 'table_adjust' %}
                            {% assign plan = site.plan[2] %}
                        {% when 'table_mentor' %}
                            {% assign plan = site.plan[3] %}
                    {% else %}
                    {% endcase %}

                <p class="showdrawer text_button" onclick="javascript:setParam('{{ plan.pricedesc.title }}','{{ plan.pricedesc.description }}');" style="font-size:0.7em;">　　<i class="fas fa-question-circle"></i>料金内訳</p>
                <div style="font-weight: bold;font-size: 0.9em;margin-top: 1em; ">

                    <p>{{ cource.update }}</p>
                    <p class="showdrawer text_button" onclick="javascript:setParam('{{ plan.update.title }}','{{ plan.update.description }}');" style="font-size:0.7em;">　　<i class="fas fa-question-circle"></i>契約更新について</p>                    
                    {% if cource.table_include != 'table_mentor' %}
                    <p>■ 追加工数料金</p>
                    <p>　　前月予約：{{ cource.addition1 }}</p>
                    <p>　　当月追加：{{ cource.addition2 }}</p>
                    {% endif %}
                </div>

                    {% if cource.table_include != 'table_mentor' %}
                    <p class="showdrawer text_button" onclick="javascript:setParam('{{ site.tooltip[8].name }}','{{ site.tooltip[8].description }}');" style="font-size:0.7em;">　　<i class="fas fa-question-circle"></i>追加工数について</p>
                    {% endif %}
                </div>
                <br>
            </div>
                <div class="wrap" style="color: #fff;padding-bottom: 20px; ">
                    <p>　　■ 対応業務一覧</p>
                    {% case cource.table_include %}
                        {% when 'table_develop' %}
                            {% include table_develop.html %}
                        {% when 'table_develop_min' %}
                            {% include table_develop_min.html %}
                        {% when 'table_adjust' %}
                            {% include table_adjust.html %}
                        {% when 'table_mentor' %}
                            {% include table_mentor.html %}
                    {% else %}
                    {% endcase %}
                </div>
            </div>
        </section>
        <div class="leftarea"><p class="buttoncenter"><span><i class="fas fa-chevron-circle-left"></i></span></p>
</div>
        <div class="rightarea"><p class="buttoncenter"><span><i class="fas fa-chevron-circle-right"></i></div>

