<div class="wrap" style="background-color: #ddd;">
<table class="prise-table">
  <thead>
            <tr>
              <th></th>
              <th class="plan1"><div class="price">30,000<span>円(月額)</div><a href="/desc/consul_30.html" class="button">詳しくはこちら</a></th>
              <th class="plan2"><div class="price">50,000<span>円(月額)</div><a href="/desc/consul_50.html" class="button">詳しくはこちら</a></th>
              <th class="plan3"><div class="price">70,000<span>円(月額)</div><a href="/desc/consul_70.html" class="button">詳しくはこちら</a></th>
              <th class="plan4"><div class="price">150,000<span>円(月額)</div><a href="/desc/consul_150.html" class="button">詳しくはこちら</a></th>
              
            </tr>
  </thead>
  <tbody>
            <tr>
              <th>チャットサポート(１名様)</th>
              <td class="plan1_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>環境構築</th>
              <td class="plan1_i"></td>
              <td class="plan2_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>業務サポート</th>
              <td class="plan1_i"></td>
              <td class="plan2_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>ソフトウェア相談</th>
              <td class="plan1_i"></td>
              <td class="plan2_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
                <tr>
              <th>業務ツール開発</th>
              <td class="plan1_i"></td>
              <td class="plan2_i"></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>アプリ、WEB新規開発</th>
              <td class="plan1_i"></td>
              <td class="plan2_i"></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
      </tbody>
    </table>
</div>
