<div class="wrap">
<table class="price-table">
  <thead>
            <tr>
              <th width="12%">コース名</th>
              <th width="7%">月額料金</th>
              <th width="7%">稼働工数</th>
              <th>チャットサポート</th>
              <th>環境構築</th>
              <th>業務サポート</th>
              <th>ソフトウェア相談</th>
              <th>業務ツール開発</th>
              <th>WEBアプリ新規開発</th>
              <th>追加工数料金<br>（前月予約)</th>
              <th>追加工数料金<br>（当月追加）</th>
              <th>契約更新</th>
            </tr>
  </thead>
  <tbody>
            <tr>
              <th class="plan1">デベロッパーコース</th>
              <td class="plan1_i">150,000円/月</td>
              <td class="plan_desc">４人日/月</td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t">30,000円/１人日</td>
              <td class="plan1_t">33,000円/１人日</td>
              <td class="plan_desc">１ヶ月毎</td>
            </tr>
            <tr>
              <th class="plan2">デベロッパーコースmin</th>
              <td class="plan2_i">90,000円/月</td>
              <td class="plan_desc">２人日/月</td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t">33,000円/１人日</td>
              <td class="plan2_t">36,000円/１人日</td>
              <td class="plan_desc">３ヶ月毎<div class="sale_text">※初回1ヶ月無料キャンペーン中</div></td>
            </tr>
            <tr>
              <th class="plan3">アジャストコース</th>
              <td class="plan3_i">50,000円/月</td>
              <td class="plan_desc">２人日/月</td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t">ー</td>
              <td class="plan3_t">ー</td>
              <td class="plan3_t tooltip_p">22,000円/１人日</td>
              <td class="plan3_t tooltip_p">24,000円/１人日</td>
              <td class="plan_desc tooltip_p">３ヶ月毎<div class="sale_text">※初回1ヶ月無料キャンペーン中</div></td>
            </tr>
            <tr>
              <th class="plan4">メンターコース</th>
              <td class="plan4_i">30,000円/月</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan_desc">３ヶ月毎<div class="sale_text">※初回1ヶ月無料キャンペーン中</div></td>
            </tr>
      </tbody>
    </table>
</div>