<div class="wrap" style="background-color: #ddd;">
<table class="prise-table">
  <thead>
            <tr>
              <th></th>
              <th class="plan2"><div class="price">30,000<span>円(月額)</div><a href="price/consult.html" class="button">詳しくはこちら</a></th>
              <th class="plan3"><div class="price">70,000<span>円(月額)</div><a href="price/consult.html" class="button">詳しくはこちら</a></th>
              <th class="plan4"><div class="price">150,000<span>円(月額)</div><a href="price/consult.html" class="button">詳しくはこちら</a></th>
              
            </tr>
                </thead>
            <tr>
              <th>チャットサポート(１名様)</th>
              <td class="plan2_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>項目2</th>
              <td class="plan2_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>項目3</th>
              <td class="plan2_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
                <tr>
              <th>項目4</th>
              <td class="plan2_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>項目5</th>
              <td class="plan2_i"></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>項目6</th>
              <td class="plan2_i"></td>
              <td class="plan3_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <th>項目7</th>
              <td></td>
              <td></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
                <tr>
            <th>項目8</th>
              <td></td>
              <td></td>
              <td class="plan4_i"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
        </thead>
    </table>
</div>
