<div class="wrap" style="background-color: #ddd;">
<table class="prise-table">
  <thead>
            <tr>
              <th width="10%">コース名</th>
              <th width="7%">月額料金</th>
              <th width="5%">稼働工数<i class="fas fa-question-circle"></i></th>
              <th>チャットサポート<i class="fas fa-question-circle"></i></th>
              <th>環境構築<i class="fas fa-question-circle"></i></th>
              <th>業務サポート<i class="fas fa-question-circle"></i></th>
              <th>ソフトウェア相談<i class="fas fa-question-circle"></i></th>
              <th>業務ツール開発<i class="fas fa-question-circle"></i></th>
              <th>WEBアプリ新規開発<i class="fas fa-question-circle"></i></th>
              <th width="8%">追加工数料金<br>（翌月）<i class="fas fa-question-circle"></i></th>
              <th width="8%">追加工数料金<br>（当月）<i class="fas fa-question-circle"></i></th>
              <th width="12%">契約更新</th>
              
            </tr>
  </thead>
  <tbody>
            <tr>
              <th class="plan1">デベロッパーコース<br><a href="/desc/developer.html" class="button" style="margin:2px;">詳細を確認</a></th>
              <td class="plan1_i">150,000円/月</td>
              <td class="plan_desc">４人日/月</td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t">30,000円/１人日</td>
              <td class="plan1_t">33,000円/１人日</td>
              <td class="plan_desc">１ヶ月毎<i class="fas fa-question-circle"></i></td>
            </tr>
            <tr>
              <th class="plan2">デベロッパーコースmin<br><a href="/desc/developermin.html" class="button" style="margin:2px;">詳細を確認</a></th>
              <td class="plan2_i tooltip_p">90,000円/月</td>
              <td class="plan_desc tooltip_p">２人日/月</td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan2_t">33,000円/１人日</td>
              <td class="plan2_t">36,000円/１人日</td>
              <td class="plan_desc">３ヶ月毎<i class="fas fa-question-circle"></i><div class="sale_text">※初回1ヶ月無料キャンペーン中</div></td>
            </tr>
            <tr>
              <th class="plan3">アジャストコース<br><a href="/desc/adjust.html" class="button" style="margin:2px;">詳細を確認</a></th>
              <td class="plan3_i tooltip_p">50,000円/月</td>
              <td class="plan_desc tooltip_p">２人日/月</td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t">ー</td>
              <td class="plan3_t">ー</td>
              <td class="plan3_t tooltip_p">22,000円/１人日</td>
              <td class="plan3_t tooltip_p">24,000円/１人日<</td>
              <td class="plan_desc tooltip_p">３ヶ月毎<i class="fas fa-question-circle"></i><div class="sale_text">※初回1ヶ月無料キャンペーン中</div></td>
            </tr>
            <tr>
              <th class="plan4">メンターコース<br><a href="/desc/mentor.html" class="button" style="margin:2px;">詳細を確認</a></th>
              <td class="plan4_i tooltip_p">30,000円/月</td>
              <td class="plan4_t">ー</i></td>
              <td class="plan4_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan_desc tooltip_p">３ヶ月毎<i class="fas fa-question-circle"></i><div class="sale_text">※初回1ヶ月無料キャンペーン中</div></td>
            </tr>
      </tbody>
    </table>
</div>