<table class="price-table_min">
    {% include table_head.html %}
  <tbody>
            <tr>
              <td class="plan4_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
            </tr>
      </tbody>
    </table>
    <p style="text-align: center;padding: 30px;">
<a href="https://withdo.jp/forms/mentor.html" class="button next" style="font-size:1.0em;font-weight:bold;margin-bottom:2em; " target="_blank">メンタープランに申し込む</a>
</p>