  <thead>
            <tr>
              <th width="10%">月額料金</th>
              <th width="8%">稼働工数</th>
              <th>チャットサポート</th>
              <th>環境構築<i class="fa fa-question-circle" aria-hidden="true"></i></th>
              <th>業務サポート<i class="fa fa-question-circle" aria-hidden="true"></i></th>
              <th>ソフトウェア相談<i class="fa fa-question-circle" aria-hidden="true"></i></th>
              <th>業務ツール開発<i class="fa fa-question-circle" aria-hidden="true"></i></th>
              <th>WEBアプリ新規開発<i class="fa fa-question-circle" aria-hidden="true"></i></th>
              <th width="9%">追加工数料金<br>（翌月）</th>
              <th width="9%">追加工数料金<br>（当月）</th>
              <th width="13%">契約更新</th>
            </tr>
  </thead>
