<table class="prise-table_min">
    {% include table_head.html %}
  <tbody>
            <tr>
              <td class="plan4">30,000円/月</td>
              <td class="plan4_t">ー</i></td>
              <td class="plan4_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan4_t">ー</td>
              <td class="plan_desc">３ヶ月毎<i class="fa fa-question-circle" aria-hidden="true"></i><div class="sale_text2">※初回1ヶ月無料キャンペーン中</div></td>
            </tr>
      </tbody>
    </table>
