<table class="prise-table_min">
  <thead>
            <tr>
              <th width="10%">月額料金</th>
              <th width="8%">稼働工数</th>
              <th>チャットサポート</th>
              <th>環境構築</th>
              <th>業務サポート</th>
              <th>ソフトウェア相談</th>
              <th>業務ツール開発</th>
              <th>WEBアプリ新規開発</th>
              <th width="10%">追加工数料金<br>（翌月）</th>
              <th width="10%">追加工数料金<br>（当月）</th>
              <th width="13%">契約更新</th>
            </tr>
  </thead>
  <tbody>
            <tr>
              <td class="plan1">150,000円/月</td>
              <td class="plan_desc">４人日/月</td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t">30,000円/１人日</td>
              <td class="plan1_t">33,000円/１人日</td>
              <td class="plan_desc">１ヶ月毎</td>
            </tr>
      </tbody>
    </table>
