<table class="prise-table_min">
    {% include table_head.html %}
  <tbody>
            <tr>
              <td class="plan1">150,000円/月</td>
              <td class="plan_desc">４人日/月<i class="fa fa-question-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t">30,000円/１人日<i class="fa fa-question-circle" aria-hidden="true"></i></td>
              <td class="plan1_t">33,000円/１人日<i class="fa fa-question-circle" aria-hidden="true"></i></td>
              <td class="plan_desc">１ヶ月毎<i class="fa fa-question-circle" aria-hidden="true"></i></td>
            </tr>
      </tbody>
    </table>
