  <thead>
            <tr>

              <th><span class="showdrawer text_button" onclick="javascript:setParam('{{ site.tooltip[1].name }}','{{ site.tooltip[1].description }}');">チャットサポート<i class="fas fa-question-circle"></i></th>
              <th><span class="showdrawer text_button" onclick="javascript:setParam('{{ site.tooltip[2].name }}','{{ site.tooltip[2].description }}');">環境構築<i class="fas fa-question-circle"></i></th>
              <th><span class="showdrawer text_button" onclick="javascript:setParam('{{ site.tooltip[3].name }}','{{ site.tooltip[3].description }}');">業務サポート<i class="fas fa-question-circle"></i></th>
              <th><span class="showdrawer text_button" onclick="javascript:setParam('{{ site.tooltip[4].name }}','{{ site.tooltip[4].description }}');">ソフトウェア相談<i class="fas fa-question-circle"></i></th>
              <th><span class="showdrawer text_button" onclick="javascript:setParam('{{ site.tooltip[5].name }}','{{ site.tooltip[5].description }}');">業務ツール開発<i class="fas fa-question-circle"></i></th>
              <th><span class="showdrawer text_button" onclick="javascript:setParam('{{ site.tooltip[6].name }}','{{ site.tooltip[6].description }}');">WEBアプリ新規開発<i class="fas fa-question-circle"></i></th>
              <th><span class="showdrawer text_button" onclick="javascript:setParam('{{ site.tooltip[8].name }}','{{ site.tooltip[8].description }}');">ビデオMTG(週次)<i class="fas fa-question-circle"></i></th>
            </tr>
  </thead>
