<table class="price-table_min">
    {% include table_head.html %}
  <tbody>
            <tr>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan1_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
            </tr>
      </tbody>
    </table>
    <p style="text-align: center;padding: 30px;">
<a href="https://withdo.jp/forms/developer.html" class="button" style="font-size:1.0em;font-weight:bold;margin-bottom:2em;padding: 0 1em; " target="_blank">デベロッパープランに申し込む</a>
</p>