<table class="price-table_min">
    {% include table_head.html %}
    <tbody>
    	<tr>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t">ー</td>
              <td class="plan3_t">ー</td>
	</tr>
      </tbody>
    </table>
