<table class="prise-table_min">
    {% include table_head.html %}
    <tbody>
    	<tr>
              <td class="plan3">50,000円/月</td>
              <td class="plan_desc">２人日/月</td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t"><i class="fa fa-check-circle" aria-hidden="true"></i></td>
              <td class="plan3_t">ー</td>
              <td class="plan3_t">ー</td>
              <td class="plan3_t">22,000円/１人日<</td>
              <td class="plan3_t">24,000円/１人日</td>
              <td class="plan_desc">３ヶ月毎<div class="sale_text">※初回1ヶ月無料キャンペーン中</div></td>
	</tr>
      </tbody>
    </table>
