.colordo1{
    color: #3379e7;
  }
.colordo2{
    color: #cda1df;
  }
.colordo3{
    color: #efba47;
  }
.colordo4{
    color: #8fcb54;
  }
.colordo5{
    color: #ffffff;
  }
.tab-wrap {
	background: #242943;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.tab-label1 {
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}
.tab-label2 {
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}
.tab-label3 {
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}
.tab-label4 {
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}
.tab-label5 {
	cursor: pointer;
	flex: 1;
	font-weight: bold;
	order: -1;
	padding: 12px 24px;
	position: relative;
	text-align: center;
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s;
	user-select: none;
	white-space: nowrap;
	-webkit-tap-highlight-color: transparent;
}

.tab-label1:hover {
	background: rgba(0, 191, 255,.1);
}
.tab-label2:hover {
	background: rgba(0, 191, 255,.1);
}
.tab-label3:hover {
	background: rgba(0, 191, 255,.1);
}
.tab-label4:hover {
	background: rgba(0, 191, 255,.1);
}
.tab-label5:hover {
	background: rgba(0, 191, 255,.1);
}

.tab-switch:checked + .tab-label1 {
	color: #3379e7;
}
.tab-switch:checked + .tab-label2 {
	color: #cda1df;
}
.tab-switch:checked + .tab-label3 {
	color: #efba47;
}
.tab-switch:checked + .tab-label4 {
	color: #8fcb54;
}
.tab-switch:checked + .tab-label5 {
	color: #ffffff;
}

.tab-label1::after {
	background: #3379e7;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}
.tab-label2::after {
	background: #cda1df;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-label3::after {
	background: #efba47;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-label4::after {
	background: #8fcb54;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}

.tab-label5::after {
	background: #ffffff;
	bottom: 0;
	content: '';
	display: block;
	height: 3px;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	width: 100%;
	z-index: 1;
}


.tab-switch:checked ~ .tab-label1::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label1::after {
	opacity: 1;
	transform: translateX(0);
}
.tab-switch:checked ~ .tab-label2::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label2::after {
	opacity: 1;
	transform: translateX(0);
}
.tab-switch:checked ~ .tab-label3::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label3::after {
	opacity: 1;
	transform: translateX(0);
}
.tab-switch:checked ~ .tab-label4::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label4::after {
	opacity: 1;
	transform: translateX(0);
}
.tab-switch:checked ~ .tab-label5::after {
	transform: translateX(-100%);
}

.tab-switch:checked + .tab-label5::after {
	opacity: 1;
	transform: translateX(0);
}

.tab-content {
	height:0;
	opacity:0;
	pointer-events:none;
	transform: translateX(30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
	width: 100%;
}

.tab-switch:checked ~ .tab-content {
	transform: translateX(30%);
}

.tab-switch:checked + .tab-label1 + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}
.tab-switch:checked + .tab-label2 + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}
.tab-switch:checked + .tab-label3 + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}
.tab-switch:checked + .tab-label4 + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}
.tab-switch:checked + .tab-label5 + .tab-content {
	height: auto;
	opacity: 1;
	order: 1;
	pointer-events:auto;
	transform: translateX(0);
}

.tab-wrap::after {
	content: '';
	height: 20px;
	order: -1;
	width: 100%;
}

.tab-switch {
	display: none;
}

.buttoncenter {
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    color: #fff;
	font-size: 2.0em;
	text-align: center;
	height: 100%;
	line-height: 20em;
	vertical-align: middle;
	opacity: 0;
}
.leftarea{
	position: absolute;
	width: 50px;
	top:0px;
	height: 100%;
	z-index: 1;
}
.leftarea:hover p.buttoncenter{
	opacity: 0.7;
}
.rightarea{
	position: absolute;
	width: 50px;
	top:0px;
	right: 1px;
	height: 100%;
	z-index: 1;
}
.rightarea:hover p.buttoncenter{
	opacity: 0.7;
}

/*** WithDOHeader ***/
/*スマホ*/
@media all and (max-width: 480px) { 
.withdotab {
  position: fixed;
  z-index: 999;
  top: 100;
  left: 0;
  width: 100%;
  padding: 60px 3px 9px;
  background: #161616;
  box-sizing: border-box;
  opacity: 0.9;
  text-align: center;
  line-height: 22px;
  font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.withdoButton {
  font-size: 0.4em;
  letter-spacing: 0.5px;
  width: 20%;
  height: 22px;
  color: #FFFFFF;
  margin: 0px 3px;
  border: none !important;
  padding: 0;
  cursor: pointer;
}
.withdoButton2{
  font-size: 0.35em;
  letter-spacing: 0.2px;
  width: 29%;
  height: 22px;
  color: #FFFFFF;
  margin: 0px 3px;
  border: none !important;
  padding: 0;
  cursor: pointer;
line-height:10px;
padding-top: 1px;	
}
.withdoButton2 > span {
 font-size: 0.3em;
 line-height: 0.5em;"	
}
.withdoimages > div{
	  width:23%;
	  text-align: center;
max-width:100%;
max-height:100%;
}
.withdoimages img {
  max-width: 60%;
	padding-top: 13px;
}
.withdoimages p{
	font-size: 0.4em;
	font-weight: 500;
	padding-top: 3px;
}
}
/*タブレット縦*/
@media all and (min-width: 768px) and (max-width: 1024px) {
.withdotab {
  position: fixed;
  z-index: 999;
  top: 120;
  left: 0;
  width: 100%;
  padding: 65px 40px 12px;
  background: #161616;
  box-sizing: border-box;
  opacity: 0.9;
  text-align: center;
  line-height: 42px;
  font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.withdoButton {
  font-size: 0.9em;
  letter-spacing: 0.5px;
  width: 15%;
  height: 42px;
  color: #FFFFFF;
  margin: 0px 30px;
  border: none !important;
  padding: 0;
  cursor: pointer;
}
.withdoButton2{
  font-size: 0.4em;
  letter-spacing: 0.5px;
  width: 23%;
  height: 22px;
  color: #FFFFFF;
  margin: 0px 3px;
  border: none !important;
  padding: 0;
  cursor: pointer;
line-height:18px;
padding-top: 5px;	
}
.withdoButton2 > span {
  font-size: 0.3em;
  line-height: 0.5em;"	
}
.withdoimages > div{
	  width:10%;
	  text-align: center;
max-width:100%;
max-height:100%;}
.withdoimages img {
  max-width: 70%;
	padding-top: 33px;
}
.withdoimages p{
	font-size: 0.4em;
	font-weight: 700;
	padding-top: 10px;
}

}
/*PC*/
@media all and (min-width: 1024px) { 
.withdotab {
  position: fixed;
  z-index: 999;
  top: 120;
  left: 0;
  width: 100%;
  padding: 65px 40px 12px;
  background: #161616;
  box-sizing: border-box;
  opacity: 0.9;
  text-align: center;
  line-height: 42px;
  font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.withdoButton {
  font-size: 0.9em;
  letter-spacing: 0.5px;
  width: 15%;
  height: 42px;
  color: #FFFFFF;
  margin: 0px 30px;
  border: none !important;
  padding: 0;
  cursor: pointer;
}
.withdoButton2{
  font-size: 0.8em;
  letter-spacing: 0.5px;
  width: 15%;
  height: 42px;
  color: #FFFFFF;
  margin: 0px 3px;
  border: none !important;
  padding: 0;
  cursor: pointer;
line-height:18px;
padding-top: 5px;	
}
.withdoButton2 > span {
 font-size: 12px;
 line-height: 0.5em;"	
}
.withdoimages > div{
	  width:10%;
	  text-align: center;
}
.withdoimages img{
max-width:70%;
	padding-top: 33px;
}
}

.withdoButton-selected {
 border-radius: 25px;
 background-color: #FFF;
 color: #161616; 	
}
.withdoimages {
  z-index: 999;
  top: 120;
  left: 0;
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.withdoimages p{
	font-size: 0.4em;
	font-weight: 700;
	padding-top: 10px;
}
/* ============================== 

body {
	background: WhiteSmoke;
  font-family: sans-serif;
	margin: 10px;
}*/