
/*** WithDOHeader ***/
/*スマホ*/
@media all and (max-width: 480px) { 
.withdoHeader {
  background-image: url(/assets/images/ian-dooley-DJ7bWa-Gwks-unsplash.jpg);
  background-size: cover;
  height: 690px;
}
.br_pc {
    display: none;

}
.content {
  color:#fff;
  font-size: 0.8em;
  font-weight: 300;
  opacity: 1.0;  

}
}

/*タブレット縦*/
@media all and (min-width: 768px) and (max-width: 1024px) {

.withdoHeader {
  background-image: url(/assets/images/ian-dooley-DJ7bWa-Gwks-unsplash.png);
  background-size: cover;
  height: 620px;
}
.content {
  color:#fff;
  font-size: 0.8em;
  font-weight: 300;
  opacity: 1.0;  

}
}
/*PC*/
@media all and (min-width: 1024px) { 
 .withdoHeader {
  background-image: url(/assets/images/ian-dooley-DJ7bWa-Gwks-unsplash.jpg);
  background-size: cover;
  height: 540px;
}
.br_sp {
    display: none;

}
.content {
  color:#fff;
  font-size: 0.8em;
  font-weight: 300;
  opacity: 1.0;  

}
}
/*** WithDOPrice ***/
/*スマホ*/
@media all and (max-width: 480px) { 
.withdoPrice {
  background-image: url(/assets/images/FlPc9_VocJ4-unsplash.jpg);
  background-size: cover;
  height: 1100px;
}

.canpain2 {
  position: relative;
  margin: 3em 2em 2em 2em;
  padding: 1em 2em;
  font-size: 0.6em;
  font-weight: 500;
  border: solid 2px #fff;
  text-align: left;
}
}

/*タブレット縦*/
@media all and (min-width: 768px) and (max-width: 1024px) {

.withdoPrice {
  background-image: url(/assets/images/FlPc9_VocJ4-unsplash.png);
  background-size: cover;
  height: 1000px;
}

.canpain2 {
  position: relative;
  margin: 2em;
  padding: 1em 2em;
  font-size: 0.6em;
  font-weight: 500;
  border: solid 2px #fff;
  text-align: left;
}
}
/*PC*/
@media all and (min-width: 1024px) { 
 .withdoPrice {
  background-image: url(/assets/images/FlPc9_VocJ4-unsplash.jpg);
  background-size: cover;
  height: 1000px;
}

.canpain2 {
  position: relative;
  margin: 2.5em;
  padding: 1em;
  font-size: 0.5em;
  line-height: 1.3em;
  font-weight: 500;
  border: solid 2px #fff;
  text-align: left;
}
}

/*** information ***/
/*スマホ*/
@media all and (max-width: 480px) { 
.information {
  background-image: url(/assets/images/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
  background-size: cover;
  height: 520px;
}
.information-box{
  width : calc(30%) ;
  float: left;
  padding: 1em 1em;
}
.information-box-sp{
  width : calc(5%) ;
  float: left;
}
.information-text{
  margin-top: 1em;
  padding: 0px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 0.7em;
  overflow: visible;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
/*タブレット縦*/
@media all and (min-width: 768px) and (max-width: 1024px) {

.information {
  background-image: url(/assets/images/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
  background-size: cover;
  height: 540px;
}
.information-box{
  width : calc(20%) ;
  float: left;
  padding: 3em 3em 7em 3em;
}
.information-box-sp{
  width : calc(5%) ;
  float: left;
}
.information-box img{
  padding: 1em 2em;
}
.information-text{
  padding: 0px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em
  overflow: visible;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
/*PC*/
@media all and (min-width: 1024px) { 
.information {
  background-image: url(/assets/images/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
  background-size: cover;
  height: 560px;
}
.information-box{
  width : calc(20%) ;
  float: left;
}
.information-box-sp{
  width : calc(5%) ;
  float: left;
}
.information-box img{
  padding: 2em 4em;
}
.information-text{
  padding: 0px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  overflow: visible;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
}


.information-Container{
  padding: 2em 0;
  text-align: center;
  overflow: hidden;
}

/*** Help ***/
/*スマホ*/
@media all and (max-width: 480px) { 
.help-inner {
  max-width: 93%;
  margin: 0 auto;
}
.help-title {
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;  
}
.help-content {
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;  
}
.help-text {
margin-top: 5em;
font-size: 0.8em;
color: #fff;  
}
}
/*タブレット縦*/
@media all and (min-width: 768px) and (max-width: 1024px) {
.help-inner {
  max-width: 79%;
  margin: 0 auto;
}

.help-title {
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;  
}
.help-content {
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;  
}
.help-text {
margin-top: 5em;
font-size: 0.8em;
color: #fff;  
}
}
/**********PC************/
@media all and (min-width: 1024px) { 
.help-inner {
  max-width: 73%;
  margin: 0 auto;
}
.help-title {
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;  
}
.help-content {
  font-size: 1.0em;
  font-weight: 300;
  color: #fff;  
}
.help-text {
margin-top: 5em;
font-size: 0.8em;
color: #fff;  
}
}
/**********PC************/

/*** help ***/
#drawer {
    -moz-transition: -moz-transform .15s ease,opacity .15s ease,visibility .15s;
    -webkit-transition: -webkit-transform .15s ease,opacity .15s ease,visibility .15s;
    -ms-transition: -ms-transform .15s ease,opacity .15s ease,visibility .15s;
    transition: transform .15s ease,opacity .15s ease,visibility .15s;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background: rgba(36,41,67,0.95);
    box-shadow: none;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3em 2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10002;
}
.color_fff {
    color: #fff;
}
.color_ddd {
    color: #ddd;
}
.planbanner{
  padding: 4em 0;
  opacity: 0.9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;

}
/*.planbanner:hover {
  opacity: 0.7;
}*/
.text_button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    transition: background-color .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    font-size: 0.7em;
    vertical-align:-1pt;
}
.text_button:hover, .text_button:active {
    color: #ffcc57;
}
.styledo1{
    background-color: #3379e7;
  }
.styledo2{
    background-color: #cda1df;
  }
.styledo3{
    background-color: #efba47;
  }
.styledo4{
    background-color: #8fcb54;
  }
.border-right{
  border-right: solid 1px #fff;  
}
.border-bottom{
  border-bottom: solid 1px #fff;  
}
.border-left{
  border-left: solid 1px #fff;  
}
.price-table{
  background-color: #fff;
  opacity: 0.8;
  margin: 0 auto;
  padding: 0;
  color: white;
  font-size: 0.7em;
  table-layout: fixed;
  margin-top: 1.5em;
}
.price-table thead th{
  padding: 1em 0.5em;
  vertical-align:middle;
  text-align: center;
  background-color: #2a2f4a;
  font-size: .5em;
}
.price-table thead tr {
  background-color: #eee;
  padding: .20em;
}
.price-table thead td {
  padding: .2em;
  vertical-align:middle;
  text-align: center;
  font-size: 1.0em;
  height: 5em;
}
.price-table tbody th {
 font-size: .6em;
 position:relative;
 text-align: center;
 vertical-align: middle;
}
.price-table tbody tr th{
  line-height: 3em;
}
.price-table tbody tr th{
  color: #fff;
  background-color: #777;
}
.noborder{
  border: 0px !important;
}
.price-table tbody td {
/*  border-bottom: solid #fff 1px;*/
  font-size: 0.6em;
 text-align: center;
 vertical-align: middle;
background-color: #999;
}

.price-table_min{
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
}
.price-table_min thead th{
  padding: 0.3em .4em;
  border-right: 1px solid #5c67a2;
  vertical-align:middle;
  text-align: center;
  background-color: #2a2f4a;
}
.price-table_min tbody th{
  padding: 0.3em .4em;
  border-right: 1px solid #5c67a2;
  vertical-align:middle;
  text-align: center;
  background-color: #ccc;
}
.price-table_min  tr {
  background-color: #fff;
  padding: .35em;
}
.price-table_min td {
  color: white;
  vertical-align:middle;
  text-align: center;
}
.price-table_min th {
 font-size: .65em;
text-align: center;
}
.price-table_min td {
  font-size: .70em;
  font-weight: 800;
  background-color: #eee;
  text-align: center;
}
.price-table_min tr th{
  color: #fff;
}

.price-table i{
  font-size:1.8em !important;
}
.price-table_min i{
  font-size:1.3em !important;
}

.plan_desc{
  font-weight: bold;
  color:#777;
}
.price-table .price{
  color: #fff;
  font-weight: bold;
  font-size: 1.8em;
  text-align: left;
  margin-bottom:10px
}
.ribbon {
  color: #fff;
  position: relative;
  padding: 0.4rem 0.7rem;
  font-size:1.0em;
  font-weight: bold;
  border: 6px double #fff;
  background-color: #ffc107;
}

 
.wrap{
     overflow-x: scroll;
}

.tooltip_c {
    width:190px;
    padding:8px;
    font-size:9px;
    margin:-30px 0 0;
    background-color:#666;
    color:#fff;
    position:absolute;
/*    right:-60%;
    top: 170%;*/
    cursor: pointer;
}
.tooltip_top {
    right:-60%;
    text-align: left;
    top: 170%;
}
.tooltip_top:before {
content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -40px;
  margin-top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #666;
}

.tooltip_top_s {
    right:-110%;
    text-align: left;
    top: 170%;
}
.tooltip_top_s:before {
content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -40px;
  margin-top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #666;
}

.tooltip_top_l {
    top:80%;
    text-align: left;
    line-height: 2em;
}
.tooltip_top_l:before {
content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -40px;
  margin-top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #666;
}
.tooltip_top_l2 {
    top:90%;
    text-align: left;
    line-height: 2em;
}
.tooltip_top_l2:before {
content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -40px;
  margin-top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #666;
}
.tooltip_top_l3 {
    top:100%;
    text-align: left;
    line-height: 2em;
}
.tooltip_top_l3:before {
content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -40px;
  margin-top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #666;
}
.tooltip_top_l4 {
    top:110%;
    text-align: left;
    line-height: 2em;
}
.tooltip_top_l4:before {
content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -40px;
  margin-top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #666;
}

.tooltip_left {
    right:59%;
    line-height: 2em;
}
.tooltip_left:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(102, 102, 102, 0);
  border-right-color: #5e5e5e;
  border-width: 8px;
  margin-top: -8px;
}

.sale_text {
border:2px solid #ff3693;
    color: #ff3693;
    font-size:10%;
    text-align: center;
    margin-top: 5px;
    background-color: #fff; 
}
.sale_text2 {
    color: #ff0000;
    font-size:10%;
    text-align: center;
    position:absolute;
    border-bottom: solid 1px;
}

.price1 {
  text-align: center;
  color: #fff;
  opacity: 1.0 !important;
  font-size: 2.2em;
  font-weight:600;
}
.desc1 {
  font-size: 0.6em;
}

.caution{
  font-size: 0.8em;
}
