
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #ccc;
  background-color: #fff;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #000;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 20px 20px 0;
  clear: both;
overflow-wrap: anywhere;
}


/*選択されているタブのコンテンツのみを表示*/
#kiyaku:checked ~ #kiyaku_content,
#privacy:checked ~ #privacy_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  border-bottom: 3px solid #5ab4bd;
  color: #000;
}
.right {
  width: 100%;
  text-align: right;
}

.privacy_button {
  color: black;
  font-size: 0.8em;
  padding: 10px;
  border: solid 1px;
}