
@font-face {
    font-family: 'DINCondensedBold';
    font-style: normal;
    font-weight: 100;
    src: url('webfonts/D-DINCondensed-Bold.ttf') format('truetype');
}
/*** banner ***/
/*スマホ*/
@media all and (max-width: 480px) { 
  .splogo {
    position: absolute;
    top: -60px;
    width: 80%;
  }
  #banner {
    height: 100vh !important;
    padding-bottom: 0 !important;
  }
  #banner>.inner {
    position: relative;
    height: 100%;
  }
#banner>.inner header {
  margin-top: 8em;
}
  .actions{
    display: none;
  }
  .smbutton {
    color: #fff;
    max-width: 190px;
    font-weight: 700;
    border-bottom: solid 2px;

  }
  .sm_more_wrap {
    width: 100%;
    text-align: center;
  height: 2em;
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
    animation: up-down-anim  3s ease-in-out infinite;
  }
  .sm_more {
    font-size: 1.0em;
    width: 100%;
    text-align: center;
  height: 2em;
  font-weight:500;
  color: #fff;
  margin-top: 0.8em;
}
.sm_more p {
  position: relative;
  text-align: center;
  width: 100%;
  float: left;
}
.sm_more p > span{
  font-weight: 700;
  font-family: "DINCondensedBold";
  font-size: 1.6em;
  display: block;
  text-align: center;
}
.sm_more img{
  position: relative;
  top: -10px;
}
#banner:after{
  background-color: #999;
  opacity: 0.75;
}
.tiles :before {
  background-color: #333 !important;
  opacity: 0.75;
}
.tiles article .link.primary:active {
  opacity: 0;
}
.tiles h1 {
  font-size: 1.3em;
  border: none;
}
#one_1 .major p{
  display: none;
}
#two {
  height: 24vh;
  background-color: #333 !important;
  opacity: 0.75;
}
.pc_concent {
  display: none;
}
#two h2 {
  font-size: 1.7em;
  font-weight: 800;
}
#two p {
  display: none;
}
/*タイトルの下の線*/
header.major>:first-child:after {
  background-color: transparent;
}
@keyframes up-down-anim {
  0% {
    transform: translate(0,0px);
  }
  30% {
    transform: translate(0,10px);
  }
  50% {
    transform: translate(0,15px);
  }
  100% {
    transform: translate(0,2px);
  }
}
.topic_pc {
  display: none;
}
.topic_sm {
  font-weight: 700;
  font-family: "DINCondensedBold";
  font-size: 1.3em;
  display: block;
  color:  #fff;

}  
.topic_sm > div{
  width:  100%;
  font-size: 0.5em;
  font-weight: normal;
  min-height: 5em;
  background:rgba(111,111,111,0.5);
  padding: 1.6em;
}
}

/*タブレット縦*/
@media all and (min-width: 498px) and (max-width: 1024px) {
  .splogo {
    position: absolute;
    top: -150px;
    width: 40%;
  }
  .spandtab {

  }
.topic_pc img{
  margin-left: 17px;
}
.topic_pc {
  position: fixed;
  top: 50px;
  color: #fff ;
  background:rgba(255,255,255,0.5);
  font-size: 0.9em;
  font-weight: 700;
  line-height: 45px;
  height: 45px;
  width: 95%;
}
.topic_sm {
  display: none;
}  
}
/*タブレット横*/
@media all and (min-width: 768px) and (max-width: 1024px) {
  .splogo {
    display: none;
  }
  .spandtab {
    display: none;
  }
  .smbutton {
    display: none;
  }
.sm_more_wrap {
 display: none;
}  
.tiles2 article:nth-child(6n - 5):before {
  background-color: #e7b788;
}
.tiles3 article:nth-child(6n - 5):before {
  background-color: #343a40;
}
.topic_pc img{
  margin-left: 17px;
}
.topic_pc {
  position: fixed;
  top: 50px;
  color: #fff ;
  background:rgba(255,255,255,0.5);
  font-size: 0.9em;
  font-weight: 700;
  line-height: 45px;
  height: 45px;
  width: 95%;
}  
.topic_sm {
  display: none;
}  
}
/*PC*/
@media all and (min-width: 1024px) { 
  .splogo {
    display: none;
  }
  .spandtab {
    display: none;
  }
  .smbutton {
    display: none;
  }
.sm_more_wrap {
 display: none;
}  
.tiles2 article:nth-child(6n - 5):before {
  background-color: #e7b788;
}
.tiles3 article:nth-child(6n - 5):before {
  background-color: #343a40;
}

#two {
}
#two p{
  position: relative;
  top: 0px;
  color: #fff ;
}
.topic_pc img{
  margin-left: 17px;
}
.topic_pc {
  position: fixed;
  top: 50px;
  color: #fff ;
  background:rgba(255,255,255,0.5);
  font-size: 0.9em;
  font-weight: 700;
  line-height: 45px;
  height: 45px;
  width: 100%;
  z-index: 500;
}  
/*キラッと光る*/
.topic_pc::before {
  content: '';
    /*絶対配置でキラッと光るの位置を決める*/
  position: absolute;
  top: 0;
  left: -75%;
    /*キラッと光る形状*/
    width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
  animation: shine 3.7s infinite;
}

/*hoverした際の移動のアニメーション*/
.topic_pc:hover::before {
  animation: shine 3.7s infinite;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
.topic_sm {
  display: none;
}  
}

