.panel-grid-cell section {
  padding: 40px 0;
  text-align: center;
  width: 100%;
  max-width: 1240px;
  min-width: 855px;
  margin: 0 auto;
  overflow: hidden;

  button {
    margin-bottom: 25px;
  }
}

.panel-grid {
  margin-bottom: 0 !important;
}

@media handheld, only screen and (max-width: 867px) {
  #home-content .panel-grid-cell section {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;

    /* grid-space to left */
    padding-right: 10px;

    /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
  }
}